$color-accent-value : rgba(246, 49, 49, 0.83);
$color-accent : $color-accent-value !important;
$color-accent-dark : opacify($color-accent-value,0.1) !important;
$color-accent-light: transparentize($color-accent-value,0.1) !important;

@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
body{
	background-color:#fafafa;
}
.logo {
	color:$color-accent;	
	letter-spacing:2px;
	font-weight:500;
	font-family: 'Montserrat', sans-serif;
	font-size:1.5rem;
}
.logo-img {
	width:1.2em;
	height:1.2em;
	display: inline-block;
	background-color:$color-accent;
	border-radius: 50%;
}

.btn-def {
	background-color:$color-accent;
	color:white;
	}.btn-def:hover{
		background-color:$color-accent-dark;
	}
	.btn-def:focus,.btn-outline-def:focus,.btn-noline-def:focus {
		box-shadow:0 0 0 0.2rem rgba(255, 89, 99, 0.25)
	}


	.btn-outline-def {
		background-color: #fff;
		color:$color-accent;
		border: 1px solid $color-accent;
	}
	.btn-outline-def:hover {
		color:white !important;
		background-color:$color-accent;
	}
	.custom-select {
		max-width:15em;
		text-align:center;
	}


	.btn-noline-def {
		background-color:white;
		color:$color-accent;
	}

	.blog-footer {
		border-top:.05rem solid #e5e5e5;
		background-color:#f9f9f9;
		color:#999;
		padding: 2.5rem 0;
		text-align:center;
	}
	.border-revi {
		border-color: $color-accent;
	}
	.send {
		min-width:4em;
	}

	// INJECT

	.ad{
		position:relative;margin-bottom:20px;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		transition: all 0.3s cubic-bezier(.25,.8,.25,1);
		padding: 15px;
		background-color: #fff;
		.icon {
			position: absolute;
			margin: auto;
			/* top: 25px; */
			left: 0;
			right: 0;
			/* bottom: 0; */
			/* height: 50px; */
			width: 50px;
			transition: all 300ms;
			img {
				position: absolute;
				margin: auto;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				display: block;
				width: 100%;
			}
		}
	}
	.ad-block{

		.ad-img{
			overflow:hidden;
			.img-wrap{
				width:101%;
				height:0;
				padding-bottom:69.5%;
				position:relative;
				display:block;
				img{
					-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out;position:absolute;top:0;left:0;width:100%;height:100%;
				}
			}
		}
		.ad-img:hover{
			.img-wrap{
				img{			
					-webkit-transform:scale(1.1);
					-ms-transform:scale(1.1);
					transform:scale(1.1);
				}
			}
		}
		.ad-content{
			padding: 25px 20px 15px 20px;
			.ad-title{
				text-align:center;padding-bottom:9px;margin-top:10px;border-bottom:1px solid #edf5f4;height: 30px;overflow:hidden;
				.title-text{
					overflow:hidden;text-transform:uppercase;color:#372F2B;font-weight:500;font-size:15px;display:block;white-space: nowrap;text-overflow: ellipsis;
				}
			}
			.ad-info{
				text-align:left;padding-top:2px;border-bottom:1px solid #edf5f4;padding-bottom:8px;
				.info-block{
					padding-top:15px;overflow:hidden;position:relative;color:#333;font-weight:400;padding-bottom: 2px;
					.info-icon{
						position:absolute;top:5px;left:0;display:inline-block;vertical-align:middle;margin-right:10px;width:14px;height:12px;
					}
					span{
						display:inline-block;vertical-align:middle;width:1700px;font-size:16px;line-height:18px;
					}
				}
			}
			.ad-price{
				padding-bottom:8px;padding-top:7px;text-align:left;
				.price-text{
					font-weight:700;color:#333;font-size:14px;
				}
			}
		}
	}
	.mcolor {
		color:$color-accent;
	}
	@media screen and (max-width:991px){
		.ad-block{
			.ad-content{
				.ad-title{
					text-align:left;
					.title-text{
						width:100%;
					}
				}
			}
		}
		.ad-list,.ads .ad-list{
			margin-left: 0;
			margin-right: 0;
		}
	}
	.carousel{
		box-shadow: 0 1px 2px rgba(0,0,0,0.5),0 1px 6px rgba(0,0,0,0.2);
		transition: all 0.3s cubic-bezier(.05,.25,.45,.8);

		.vip{
			background-color:#fff;
			.vip-block{
				overflow:hidden;
				img{
					transition: all 0.3s cubic-bezier(.05,.25,.45,.8);
				}
			}
			h3{
				padding-top:16px;
				text-transform:uppercase;
			}
			.slide-line{
				width: 140px;
				height: 3px;
				background-color:$color-accent;
				margin-bottom:10px;
				transition: all 0.3s cubic-bezier(.05,.25,.45,.8);
			}
		}
		.vip:hover{
			.slide-line{
				width:100%;
			}
		}
	}
	.carousel:hover{
		box-shadow: 0 1px 5px rgba(0,0,0,0.5),0 1px 12px rgba(0,0,0,0.2);
		img{
			-webkit-transform:scale(1.1);
			-ms-transform:scale(1.1);
			transform:scale(1.1);
		}
	}



	// content: attr();

	.categories{
		.categories-list{
			margin:10px auto 0;
			position:relative;
			text-align: center;
			width:100%;
			.categories-item:first-child{
				border-left:1px solid #e7e7e7;
			}
			.categories-item{
				display:inline-block;
				margin-top:10px;
				margin-bottom:10px;
				border-bottom:1px solid #e7e7e7;
				position:relative;
				width:13%;
				font-size:18px;

				.categoreis-link{
					position:relative;
					text-align:center;
					margin-bottom:20px;
					display:block;
					text-decoration:none!important;
					color:#545454;
					min-height: 140px;
					span{
						overflow: hidden;
						white-space: nowrap;
						display: block;
						text-overflow: ellipsis;
					}
					.icon{
						display:block;
						margin:0 auto 10px;
						height:90px;
						position:relative;

						img{
							transition: all 0.3s cubic-bezier(.2,.25,.45,.8);
							display:block;
							position:absolute;
							top:50%;
							left:0;
							right:0;
							margin:0 auto;
							-webkit-transform:translateY(-50%);
							-ms-transform:translateY(-50%);
							transform:translateY(-50%)
						}
						img:hover{
							border-radius:50%;
						}
					}

				}
				.categoreis-link:before{
					display:block;height:115%;width:1px;background-color:#e7e7e7;content:'';position:absolute;right:0;top:-5px
				}
			}
		}
		.categories-list:after{
			display:block;height:0;clear:both;content:'';
		}
	}

	@media screen and (max-width:991px){
		.categories .categories-list .categories-item{
			width:24.2%
		}

		.categories .categories-list .categories-item:nth-child(4n+1) .categoreis-link:after{
			display:block;height:115%;width:1px;background-color:#e7e7e7;content:'';position:absolute;left:0;top:0
		}
	}
	@media screen and (max-width:640px){
		.categories .categories-list .categories-item:nth-child(even) .categoreis-link:before,.categories .categories-list .categories-item:nth-child(odd) .categoreis-link:after{
			visibility:hidden
		}

		.categories .categories-list .categories-item{
			width:32.2%
		}
	}
	@media screen and (max-width:390px){
		.categories .categories-list .categories-item{
			width:49.2%
		}

	}